.row{
    display: flex;
}

.col{
    padding-left: 4px;
    padding-right: 4px;
}

.col-1-of-5{
    width: 20%;
}

.col-1-of-3{
    width: calc(100% / 3);
}

.col-1-of-4{
    width: calc(100% / 4);
}